.morphus-container {
	--mpx-sidebar-width: 15rem;
	--mpx-sidenav-height: 4.5rem;

	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	flex: auto;
	width: 100%;
	background-color: rgb(231, 230, 229);

	.morphus-sidenav {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		height: 100%;
		width: var(--mpx-sidebar-width);
		background-color: rgb(214, 212, 214);
	}

	.morphus-navbar {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		width: 100%;
		min-height: var(--mpx-topbar-height);
		background-color: var(--mpx-surface);
		color: var(--mpx-on-surface);
	}

	.morphus-content {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		height: 100%;
		flex: auto;
	}
}
