@font-face {
	font-family: 'Google Sans';
	font-style: normal;
	font-weight: 400 700;
	font-display: swap;
	src: url('/fonts/Google_Sans/GoogleSans-VariableFont_GRAD,opsz,wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Google Sans';
	font-style: italic;
	font-weight: 400 700;
	font-display: swap;
	src: url('/fonts/Google_Sans/GoogleSans-Italic-VariableFont_GRAD,opsz,wght.ttf') format('truetype');
}
