.roboto-monoRoboto > {
	font-family: 'Roboto Mono', monospace;
	font-optical-sizing: auto;
	font-weight: 100 700;
	font-style: normal;
}

.roboto-flex-morphus {
	font-family: 'Roboto Flex', sans-serif;
	font-optical-sizing: auto;
	font-weight: 100 1000;
	font-style: normal;
	font-variation-settings:
		'slnt' 0,
		'wdth' 100,
		'GRAD' 0,
		'XOPQ' 96,
		'XTRA' 468,
		'YOPQ' 79,
		'YTAS' 750,
		'YTDE' -203,
		'YTFI' 738,
		'YTLC' 514,
		'YTUC' 712;
}
.noto-sans-mono {
	font-family: 'Noto Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 100 900;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

.jetbrains-monoJetBrains {
	font-family: 'JetBrains Mono', monospace;
	font-optical-sizing: auto;
	font-weight: 100 800;
	font-style: normal;
}

.ibm-plex-mono-thin {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 100;
	font-style: normal;
}

.ibm-plex-mono-extralight {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 200;
	font-style: normal;
}

.ibm-plex-mono-light {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 300;
	font-style: normal;
}

.ibm-plex-mono-regular {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 400;
	font-style: normal;
}

.ibm-plex-mono-medium {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 500;
	font-style: normal;
}

.ibm-plex-mono-semibold {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 600;
	font-style: normal;
}

.ibm-plex-mono-bold {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 700;
	font-style: normal;
}

.ibm-plex-mono-thin-italic {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 100;
	font-style: italic;
}

.ibm-plex-mono-extralight-italic {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 200;
	font-style: italic;
}

.ibm-plex-mono-light-italic {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 300;
	font-style: italic;
}

.ibm-plex-mono-regular-italic {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 400;
	font-style: italic;
}

.ibm-plex-mono-medium-italic {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 500;
	font-style: italic;
}

.ibm-plex-mono-semibold-italic {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 600;
	font-style: italic;
}

.ibm-plex-mono-bold-italic {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 700;
	font-style: italic;
}

.fira-mono-regular {
	font-family: 'Fira Mono', monospace;
	font-weight: 400;
	font-style: normal;
}

.fira-mono-medium {
	font-family: 'Fira Mono', monospace;
	font-weight: 500;
	font-style: normal;
}

.fira-mono-bold {
	font-family: 'Fira Mono', monospace;
	font-weight: 700;
	font-style: normal;
}

.fira-codeFira {
	font-family: 'Fira Code', monospace;
	font-optical-sizing: auto;
	font-weight: 300 700;
	font-style: normal;
}

.ubuntu-light {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.ubuntu-regular {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.ubuntu-medium {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-style: normal;
}

.ubuntu-bold {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-style: normal;
}

.ubuntu-light-italic {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-style: italic;
}

.ubuntu-regular-italic {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-style: italic;
}

.ubuntu-medium-italic {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-style: italic;
}

.ubuntu-bold-italic {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-style: italic;
}

.ubuntu-light {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.ubuntu-regular {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.ubuntu-medium {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-style: normal;
}

.ubuntu-bold {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-style: normal;
}

.ubuntu-light-italic {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-style: italic;
}

.ubuntu-regular-italic {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-style: italic;
}

.ubuntu-medium-italic {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-style: italic;
}

.ubuntu-bold-italic {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-style: italic;
}

.montserrat-morphus {
	font-family: 'Mont Serrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 100 900;
	font-style: normal;
}

.anybody-morphus > {
	font-family: 'Anybody', sans-serif;
	font-optical-sizing: auto;
	font-weight: 100 900;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

.google-sans-morphus {
	font-family: 'Google Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400 700;
	font-style: normal;
	font-variation-settings: 'GRAD' 0;
}
