.security-container {
	--sec-topbar-height: 4.5rem;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	flex-grow: 1;
	width: 100%;

	.security-navbar {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		width: calc(100% - 0.8rem);
		overflow: hidden;
		margin: 0rem 0.4rem;
		padding: 0rem 1rem;
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
		min-height: var(--sec-topbar-height);
		/* background-color: var(--color-mp-primary);
		color: var(--color-mp-on-surface); */
	}

	.security-content {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		width: 100%;
		flex: auto;
		padding: 1.5rem 1.5rem;
		background-color: transparent;
		color: var(--mpx-surface-tint);
	}
}
